body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
h1 {
    color: #000000;
}
p1 {
    color: #199b44
}
p2 {
    color: rgb(14, 74, 54)
}
form1 {
    color: #199b44;
}
.centrar-texto {
    text-align: center;
}

